.huge-headline {
  font-size: 22px; }
  @media only screen and (min-width: 1168px) {
    .huge-headline {
      font-size: 100px; } }

.xl-h {
  font-size: 20px; }
  @media only screen and (min-width: 1168px) {
    .xl-h {
      font-size: 36px; } }

h1,
.h1 {
  font-size: 20px; }
  @media only screen and (min-width: 990px) {
    h1,
    .h1 {
      font-size: 28px; } }

h2,
.h2 {
  font-size: 26px; }

h3,
.h3 {
  font-size: 18px; }
  @media only screen and (min-width: 990px) {
    h3,
    .h3 {
      font-size: 24px; } }

h4,
.h4 {
  font-size: 18px; }
  @media only screen and (min-width: 990px) {
    h4,
    .h4 {
      font-size: 22px; } }

h5,
.h5 {
  font-size: 20px; }

h6,
.h6 {
  font-size: 18px; }

p,
.p {
  font-size: 16px;
  line-height: 24px; }

p.sm {
  font-size: 14px;
  line-height: 20px; }

p.lg {
  font-size: 18px;
  font-size: 24px; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  padding: 0; }

.navbar-brand,
.brand-text {
  font-family: Pacifico; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0F0F0; }

.header {
  width: 100%;
  height: 200px; }
  .header .logo {
    width: 200px;
    height: 100px;
    overflow: hidden;
    margin-top: 30px;
    float: left; }
    .header .logo img {
      width: 100%; }
  .header .newPart {
    float: right;
    margin-top: 30px; }

.btn-info {
  background-color: #08969A;
  border-radius: 0 0 6px; }
  .btn-info:hover {
    background-color: rgba(8, 150, 154, 0.9); }

.panel-primary {
  border-color: #08969A; }
  .panel-primary .item {
    width: 50%;
    height: 300px;
    overflow: hidden;
    float: left;
    margin: 20px 0; }
    .panel-primary .item a {
      text-align: center;
      font-size: 18px;
      color: red; }
    .panel-primary .item img {
      height: 90%; }
  .panel-primary .puckedupby {
    width: 25%;
    float: left; }
  .panel-primary .labeltext {
    width: 100%; }

.panel-primary > .panel-heading {
  background-color: #08969A;
  border-color: #08969A; }

.inputs-container {
  margin-top: 30px; }

button.panel-primary {
  margin-top: 10px; }
